body{
    font-family:Arial,Helvetica,sans-serif;
    background-color: black;
    color: white;
}

div.barchart{
    font-family:Arial,Helvetica,sans-serif;
    font-size:0.7em;
}

rect.cbar{
    stroke:white;
    fill:none;
    stroke-width:2px;
}


text.nametip {
        font-size: 17px;
        text-align: center;
        stroke:red;
        fill:red;
        text-anchor:right;
}
text{
        fill:white;
        stroke:white;
}
text.pname{
        text-anchor:end;
}

.axis {
        font-family: arial;
        font-size:1em;
        color: white;
}
path {
        fill:none;
        stroke:white;
        stroke-width:2px;
}
.tick {
        fill:white;
        stroke:white;
}



line.arr{
        stroke-width:5;
        stroke: white;
        fill: white;
        stroke-linecap:round;

}
text.key_name{
        font-size:17px;
        stroke:white;
        fill:white;
}
text.key_name_hi{
        font-size:17px;
        stroke:green;
        fill:green;
}
rect.key_box{
        height:10px;
        width:10px;
        stroke:white;
        stroke-width:2;
        cursor: pointer;
}

text.key_name_p{
        font-size:17px;
        stroke:white;
        fill:white;
}

rect.key_box_p{
        height:10px;
        width:10px;
        stroke:white;
        stroke-width:2;
        cursor: pointer;
}

rect.infobox {
        width: 200px;
        padding: 10px;
        fill: none;
        stroke:white;
        stroke-width:2px;
}

text.infotext{
        fill:white;
        stroke:white;
        text-anchor:middle;
}

.tabnav {
    margin: 50px;
    width: 1100px;
    border-bottom: 2px solid white;
    height: 35px;
    text-align: right;
    position: relative;
    z-index: 1;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

.tabnav-tabs li{
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-bottom: 0;
    font-size: 14px;
}

.tabnav-tabs .selected {
    border-color: #555;
    border-radius: 3px 3px 0 0;
    background-color: white;
    color: #000;
}

path{
    fill:none;
}
.nav{
    cursor: pointer;
}

.left-content {
    display: none;
    position: absolute;
    max-width: 800px;
    top: 5%;
    right: 5%;
    bottom: 5%;
    text-align: left;
    padding: 10px;
    background-color: rgba(60,60,70,0.98);
    height: 75%;
    overflow-y: scroll;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #888;
    z-index: 10;
}
a:visited
{ 
    color:yellow;
}

.left-content-control {
    margin-right: 5px;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    background-color: rgba(60,60,70,0.3);
    cursor: pointer;
    z-index: -1;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}